<div class="about">
  <h1>What is Technology at BfE?</h1>
  <p> {{ page.sections["about"] }} </p>  

  <div class="card-container">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="assets/img/DataAnalytics.jpg" alt="Data Analytics">
        </div>
        <div class="flip-card-back">
          <p>{{ page.sections["DataAnalytics"] }}</p>
        </div>
      </div>
    </div>  
    
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="assets/img/WebAppDev.jpg" alt="Web Dev">
        </div>
        <div class="flip-card-back">
          <p>{{ page.sections["WebAppDev"] }}</p>
        </div>
      </div>
    </div>  
    
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="assets/img/MLAlgo.jpg" alt="ML/Algo">
        </div>
        <div class="flip-card-back">
          <p>{{ page.sections["MLAlgo"] }}</p>
        </div>
      </div>
    </div>  

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="assets/img/DevOps.jpg" alt="ML/Algo">
        </div>
        <div class="flip-card-back">
          <p>{{ page.sections["DevOps"] }}</p>
        </div>
      </div>
    </div>   

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="assets/img/CloudSecurity.jpg" alt="ML/Algo">
        </div>
        <div class="flip-card-back">
          <p>{{ page.sections["CloudSecurity"] }}</p>
        </div>
      </div>
    </div> 

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="assets/img/DataOps.jpg" alt="ML/Algo">
        </div>
        <div class="flip-card-back">
          <p>{{ page.sections["DataOps"] }}</p>
        </div>
      </div>
    </div> 

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="assets/img/BrandingDesign.jpg" alt="ML/Algo">
        </div>
        <div class="flip-card-back">
          <p>{{ page.sections["BrandingDesign"] }}</p>
        </div>
      </div>
    </div> 

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="assets/img/TechnicalAdvisory.jpg" alt="ML/Algo">
        </div>
        <div class="flip-card-back">
          <p>{{ page.sections["TechnicalAdvisory"] }}</p>
        </div>
      </div>
    </div> 

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="assets/img/More.jpg" alt="ML/Algo">
        </div>
        <div class="flip-card-back">
          <p>{{ page.sections["More"] }}</p>
        </div>
      </div>
    </div>

  </div>

  <h1>Why Technology at BfE?</h1>
  <p> {{ page.sections["why"] | textilize }} </p>  

  <h1>How can I get involved?</h1>
  <p> {{ page.sections["how"] | textilize }} </p>  

  <h1>What are we up to lately?</h1>
  <p> {{ page.sections["lately"] | textilize }} </p>  
</div>
