<div class="about">
  <h1>What is Technology at BfE?</h1>
  <p> {{ page.sections["about"] | textilize }} </p>  

  <div class="card-container">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="assets/img/DataAnalytics.jpg" alt="Data Analytics" style="width:30vw; height:30vh; object-fit: cover;">
        </div>
        <div class="flip-card-back">
          <p>{{ page.sections["DataAnalytics"] | textilize }}</p>
        </div>
      </div>
    </div>  
    
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="assets/img/DataAnalytics.jpg" alt="Web Dev" style="width:30vw; height:30vh; object-fit: cover;">
        </div>
        <div class="flip-card-back">
          <p>{{ page.sections["WebAppDev"] | textilize }}</p>
        </div>
      </div>
    </div>  
    
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="assets/img/DataAnalytics.jpg" alt="ML/Algo" style="width:30vw; height:30vh; object-fit: cover;">
        </div>
        <div class="flip-card-back">
          <p>{{ page.sections["MLAlgo"] | textilize }}</p>
        </div>
      </div>
    </div>  
  </div>

  <h1>Why Technology at BfE?</h1>
  <p> {{ page.sections["why"] | textilize }} </p>  

  <h1>How can I get involved?</h1>
  <p> {{ page.sections["how"] | textilize }} </p>  

  <h1>What are we up to lately?</h1>
  <p> {{ page.sections["lately"] | textilize }} </p>  
</div>
