<footer class="footer">
<div>
    <a href="{{ site.social.medium }}" target="_blank" aria-label="medium"><img src="/assets/icon/medium.svg" width="20" height="20"></a>
    <a href="{{ site.social.facebook }}" target="_blank" aria-label="facebook"></a>
    <a href="{{ site.social.instagram }}" target="_blank" aria-label="instagram"></a>
    <a href="{{ site.social.linkedin }}" target="_blank" aria-label="linkedin"></a>
    <a href="{{ site.social.youtube }}" target="_blank" aria-label="youtube"></a>
    <a href="{{ site.social.github }}" target="_blank" aria-label="github"></a>
    <a href="{{ site.social.email }}" target="_blank" aria-label="mail"></a>
    <a href="{{ site.social.website }}" target="_blank" aria-label="link"></a>
</div>
    <p>&copy; Bridges for Enterprise</p>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
