<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title" style="padding-bottom:20px">{{site.username}}</span>
        <span class="site-description" style="margin: 0 -10px">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" target="_blank" href="mailto:technology@bridgesforenterprise.com" aria-hidden="true"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="Our Github" target="_blank" href="https://github.com/BfE-Technology"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="Home" target="_blank" href="https://www.bridgesforenterprise.com"><i class="icon fa fa-home" aria-hidden="true"></i></a>
      </div>
      <div class="header-links" style="display: flex;flex-wrap: wrap;justify-content: center;align-content: center;line-height: 0.5;">
        <a class="link" href="#about" data-scroll>About Us</a>
        <a class="link" target="_blank" href="https://opps.bridgesforenterprise.com/technology">Projects and Roles</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
