<div class="topnav" id="myTopnav">
  <a href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="javascript:void(0);" class="icon" onclick="menuToggle()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<br id="topnavSpace"/>

<script>
  function menuToggle() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
  var prevScrollpos = window.pageYOffset;
  window.onscroll = function() {
    if (!$("#myTopnav").hasClass("responsive")){      
      var currentScrollPos = window.pageYOffset;
      if (prevScrollpos + 1 > currentScrollPos) {
        document.getElementById("myTopnav").style.top = "0";
      } else {
        document.getElementById("myTopnav").style.top = "-52px";
      }
      prevScrollpos = currentScrollPos;
    }
  }
</script>
